/* CSS declarations go here */

#dictionary {
    width: 45%;
    height: 600px;
    position: fixed;
    right: 10px;
    top: 150px;
}

#save-word-form-container {
    width: 45%;
    height: 200px;
    position: fixed;
    right: 10px;
    top: 20px;
}

#left-column {
    width: 45%;
    float: left;
}

.text-container {
    margin-top: 20px; 
    margin-bottom: 20px;
}