/* CSS declarations go here */

#dictionary {
    width: 45%;
    height: 600px;
    position: fixed;
    right: 10px;
    top: 150px;
}

#save-word-form-container {
    width: 45%;
    height: 200px;
    position: fixed;
    right: 10px;
    top: 20px;
}

#left-column {
    width: 45%;
    float: left;
}

.textTitleContainer {
    margin-top: 15px; 
    margin-bottom: 15px;
}

div .margined {
    margin-top: 15px;
    margin-bottom: 15px;
}

#textBodyTextarea {
    width: 100%;
    height: 300px;
}

#textTitleInput {
    width: 100%;
}

.textTitle {
    font-weight: bold;
}